PORT=5000
DATABASE_URL=postgresql://neondb_owner:your_password@ep-sample-pool-123456.us-east-2.aws.neon.tech/dhms_db?sslmode=require
JWT_SECRET=dhms_super_secure_jwt_secret_production_key_2026
CLIENT_URL=http://localhost:3000
NODE_ENV=development
